core-icon.check-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #cdcdcd;
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 200ms, background-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 200ms, background-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

:host([animate]) core-icon {
  visibility: hidden;
}

:host core-toolbar {
  background-color: silver !important;
}

:host core-toolbar.correct {
  background-color: #00e676 !important;
}

:host core-toolbar.incorrect {
  background-color: #ff5252 !important;
  color: white;
}

.answered core-icon.check-button {
  -webkit-transform: none;
  transform: none;
  color: white;
}
/*
.answered core-icon.check-button.correct {
  color: white;
}

.answered core-icon.check-button.incorrect {
  color: #ff5252;
}

.answered core-icon.check-button {
  color: #626262;
}
*/