body {
  font-family: 'Oleo Script', cursive;
  color: #0e9e9e;
  background: #eee;
}

.splash {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(images/splash.svg);
}

.splash.wide {
  background-size: 512px;
}

/* DRAWER */
[drawer] {
  background: #c9ef5e;
}

core-menu {
  color: white;
  margin: 10px 0 0 0;
}

core-menu > paper-item {
  transition: all 300ms ease-in-out;
}

paper-item a {
  text-decoration: none;
  color: #037774;
  margin-left: 5px;
}

core-menu > paper-item.core-selected {
}

/* PAGES */
core-animated-pages {
  width: 85%;
  height: 85%;
  -webkit-user-select: none;
  overflow: hidden;
}

core-animated-pages > * {
  border-radius: 5px;
  font-size: 14px;
}

/* CONTENT */
section {
  padding: 20px;
}

h2 {
  font-size: 35px;
  color: #ffcc06;
}

.content-text {
  font-family: 'Basic', sans-serif;
  color: #5c8e8b;
  padding: 20px;
  margin: 20px;
  width: 100%;
  font-size: 18px;
}

/* FORM */
body /deep/ paper-button {
  margin: 0;
}
body /deep/ paper-button.colored {
  background: #b180e8;
  color: #fff;
}

/* ENIGME - QUIZ */
/*
body /deep/ .card > core-toolbar {
  height: 120px;
  font-size: 16px;
  line-height: 26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.card > core-toolbar::shadow #topBar {
  height: 120px;
}
*/

body /deep/ paper-dialog {
  width: 80%;
}

body /deep/ #quizViews {
  display: block;
}

body /deep/ #quizViews > * {
  display: none;
}

body /deep/ #quizViews > .core-selected {
  display: block;
}


@media all and (max-width: 480px) {
  core-animated-pages {
    width: 100%;
    height: 100%;
  }
}
