html, body {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: 'Montserrat', sans-serif;
}

#core_scaffold {
  border: 10px solid red;
}

@media screen and (min-width: 900px) {
  body {
    background-size: 512px;
  }
}

.goto-home {
  color: white;
  text-decoration: none;
}

.splash {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(images/splash.svg);
}

.splash.wide {
  background-size: 512px;
}

body /deep/ core-toolbar {
  background-color: transparent;
  color: #9ec420;
}

/* DRAWER */
[drawer] {
  background: #c9ef5e;
}

core-menu {
  color: white;
  margin: 10px 0 0 0;
}

core-icon {
  color:  #9ec420;
}

core-menu > paper-item {
  transition: all 300ms ease-in-out;
}

paper-item a {
  text-decoration: none;
  color: #5f6060;
  margin-left: 5px;
}

core-menu > paper-item.core-selected {
}

/* PAGES */
core-animated-pages {
  width: 85%;
  height: 85%;
  -webkit-user-select: none;
  overflow: hidden;
}

core-animated-pages > * {
  border-radius: 5px;
  font-size: 14px;
}

/* CONTENT */
section {
  padding: 20px;
}

h2 {
  font-size: 35px;
  color: #9ec420;
  margin-top: 0;
  margin-bottom: 0;
}

.content-text {
  font-family: 'Basic', sans-serif;
  color: #5f6060;
  padding: 20px;
  margin: 20px;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

/* IMAGE */

.sized {
  width: 200px;
  height: 200px;
}

/* FORM */
body /deep/ paper-button {
  margin: 0;
  padding: 5px 10px;
}
body /deep/ paper-button.colored {
  background: #9ec420;
  color: white;
  text-transform: none;
  font-size: 20px;
}

/* ENIGME - QUIZ */
/*
body /deep/ .card > core-toolbar {
  height: 120px;
  font-size: 16px;
  line-height: 26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.card > core-toolbar::shadow #topBar {
  height: 120px;
}
*/

body /deep/ paper-dialog {
  width: 80%;
  height: 80%;
  display: block;
}

html /deep/ paper-dialog::shadow #scroller {
  padding: 0;
}

body /deep/ #quizViews {
  display: block;
}

body /deep/ #quizViews > * {
  display: none;
}

body /deep/ #quizViews > .core-selected {
  display: block;
}


@media all and (max-width: 480px) {

  .splash {
    background-size: 80%;
  } 

  core-animated-pages {
    width: 100%;
    height: 100%;
  }
}
